@import "./abstract/function";
@import "./abstract/variables";

.layout {
  position: relative;
}

.wrapper {
  @include flex(column, wrap, center, center);
  flex: 1;
  .content {
    @include flex(column, wrap, center, center);
    padding: 2rem;
    flex: 1;
  }
}
