@import "./../../../Sass/abstract/function";
@import "./../../../Sass/abstract/variables";

.wrapper {
  width: 100%;
  border-bottom: 4px solid $grey;
  @include flex(column, nowrap, center, center);
  .profil_header {
    padding: calc(#{$space} * 5) 0;
    @include flex(row, wrap, flex-start, center);
    flex: 1;
    &__form {
      @include size(120px, 100%);
      cursor: pointer;
    }

    &__upload {
      svg {
        @include size(120px, 120px);
        color: $grey;
      }
    }

    &__body {
      @include flex(column, wrap, center, flex-start);
      padding-left: calc(#{$space} * 3);
      flex: 1;
      align-self: stretch;
    }
  }

  nav {
    ul {
      @include flex(row, nowrap, flex-start, flex-start);
      width: 100%;
      list-style: none;
      li {
        flex: 1;
        text-align: center;
      }
    }
  }
}

.nav_wrapper {
  width: 100%;
  @include flex(row, nowrap, center, center);
  border-top: 1px solid $grey;
}

.nav_admin {
  @include flex(row, nowrap, flex-start, center);

  .btn {
    padding: calc(#{$space} * 2) calc(#{$space} * 2);
    margin: 0 calc(#{$space} * 2) 0 0;
    border: none;
    @include flex(row, nowrap, center, center);
    background: none;
    font-size: 1.25rem;
    position: relative;

    svg {
      @include size(1.5rem, 1.5rem);
      color: $black;
      margin-right: 0.75rem;
    }
  }

  .active {
    &:before {
      @include emptyContent();
      width: 100%;
      height: 4px;
      background-color: $blue;
      bottom: -4px;
    }
  }
}
