@import "./../..//Sass/abstract/function";
@import "./../../Sass/abstract/variables";

.wrapper {
  @include flex(row, nowrap, space-between, center);
  width: calc(#{$container_width});
  flex: 1;
  gap: 2rem;
  margin: 3rem 0;
  @media screen and (max-width: 1439px) {
    width: calc(100% - 4rem);
  }

  aside {
    display: flex;
    align-self: stretch;
    margin: 1rem 0;
    min-width: 30%;
    padding: 1rem;

    border-left: 1px solid $grey;
  }
}
