@import "./../../../../Sass/abstract/function";
@import "./../../../../Sass/abstract/variables";

.editProfil {
  @include flex(column, nowrap, flex-start, flex-start);
  width: 100%;

  margin: calc(#{$space} * 2.5) 0;
  padding-bottom: 0;
  width: calc(#{$container_width} - 40px);
  @media screen and (max-width: 1439px) {
    width: calc(100% - 4rem);
  }

  fieldset {
    @include flex(row, nowrap, flex-start, center);
    border: 4px solid $grey;
    box-shadow: $standartShadow;
    border-radius: $smallRadius;
    padding: calc(#{$space} * 2) calc(#{$space} * 2);
    width: 100%;
  }
  footer {
    @include flex(row, nowrap, flex-end, center);
    margin: 2rem 0 0 0;
    width: 100%;
    @media screen and (max-width: 1439px) {
      width: calc(100% - 4rem);
    }
  }

  .bloc_input {
    margin: 1rem;
    label {
      font-weight: 300;
      text-transform: uppercase;
    }
    input[type="text"],
    input[type="password"] {
      width: 250px;
    }
  }
}
