@import "./../../../../Sass/abstract/function.scss";
@import "./../../../../Sass/abstract/variables.scss";
@import "./../../../../Sass/abstract/animation.scss";

$sizeClose: 2.5rem;

.content {
  @include flex(column, wrap, flex-start, flex-start);
  background-color: white;
  position: relative;
  width: 320px;
  box-shadow: $standartShadow;
  border-radius: $mediumRadius;
  animation-name: bottom_TO_origin;
  animation-duration: $shortTime;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;

  .header {
    @include flex(row, wrap, space-between, center);
    background-color: $black;
    padding-left: 1rem;
    width: 100%;
    border-radius: $mediumRadius $mediumRadius 0 0;
    h1 {
      margin: 0;
      color: $light;
    }

    .close_modal {
      @include flex(row, wrap, center, center);
      @include size(#{$sizeClose}, #{$sizeClose});
      background-color: red;
      cursor: pointer;
      border-radius: 0 $mediumRadius 0 0;
      border-left: 5px solid darken($red, 10%);
      transition: $mediumTime;
      box-sizing: content-box;
      position: relative;
      &:hover {
        border-left-color: $light;
      }
    }
  }
}

//form
.account_user {
  flex: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  p {
    margin: auto;
    cursor: pointer;
  }

  .errorMessage {
    @include flex(row, wrap, center, center);

    p {
      text-align: center;
    }
  }
}

.cross,
.cross:before,
.cross:after {
  @include emptyContent();
  height: 2px;
  width: 20px;
  background-color: white;
  transform-origin: center;
  transition: $mediumTime;
  pointer-events: none;
}

.cross {
  background-color: transparent;
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(315deg);
  }
}

.close_modal:hover .cross {
  transform: rotate(180deg);
}
