//Text

$text_black: #41393e;
$text_black_smooth: #41393e;
$text_black_light: #6b6b6b;

$black: #1d2226;
$light: #fff;
$grey: rgba(158, 158, 158, 0.3);
$grey_hard: rgb(128, 128, 128);

$blue: #047ad5;
$red: rgb(214, 62, 62);
$green: rgb(0, 151, 81);
$yellow: rgb(255, 163, 0);

$space: 8px;

$shortTime: 0.3s;
$mediumTime: 0.5s;
$longTime: 0.8s;
$veryLongTime: 1.2s;

$smallRadius: 3px;
$mediumRadius: 5px;
$bigradius: 10px;

$standartShadow: 0 0 15px 0px $black;
$lightShadow: 5px 5px 10px 0px rgb(155, 155, 155);

$container_width: 1330px;

/** TESTE coolors.co **/

// $coolors_BrownSugar : #B07157;
// $coolors_EggPlant : #B07157;
// $coolors_Grullo : #B07157;
// $coolors_TumbleWeed : #B07157;
// $coolors_Celadon_blue : #B07157;
