@import "./../../../../Sass/abstract/function.scss";
@import "./../../../../Sass/abstract/variables.scss";
@import "./../../../../Sass/abstract/animation.scss";

.hamburger {
  position: relative;
  @include size(rem(32), rem(32));
  content: "";
  cursor: pointer;
  border-radius: 5%;
  transition: $shortTime;
  //display: block;
  //position: relative;
  //background-color: #95a5a6;
  //position: fixed;
  //top: 16px;
  //right: rem(20);
  //border: 2px solid rgb(58, 58, 58);

  span,
  span::before,
  span::after {
    position: absolute;
    @include size(20px, rem(2));
    background-color: $black;
    content: " ";
    pointer-events: none;
    top: centerAbsolute(2px);
    left: centerAbsolute(20px);
    display: block;
    transition: $shortTime;
    transform-origin: 50% 50%;
  }

  span:before {
    transform: translateY(rem(-6));
  }

  span:after {
    transform: translateY(rem(6));
  }

  &:hover {
    span::before {
      transform: translateY(rem(-8));
    }

    span::after {
      transform: translateY(rem(8));
    }
  }

  &[data-active="true"] {
    background-color: #d35400;
    transform: rotate(180deg);

    //Transform Hamburger To Cross

    span {
      background: transparent;
    }

    span::before {
      transform: translateY(0) rotate(45deg);
    }
    span::after {
      transform: translateY(0) rotate(-45deg);
    }
  }
}
