@import "./../../../Sass/abstract/function.scss";
@import "./../../../Sass/abstract/variables.scss";
@import "./../../../Sass/abstract/animation.scss";

.wrapper {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  @include flex(column, wrap, center, center);
  background-color: $grey;
}

.revert-anim {
  animation-name: origin_TO_top;
  animation-fill-mode: both;
  animation-duration: $shortTime;
}
