@import "./../../../Sass/abstract/function.scss";
@import "./../../../Sass/abstract/variables.scss";

.wrapper {
  border-bottom: 8px solid rgb(187, 187, 187);
  background-color: black;

  .content {
    padding: 0.5rem 2rem;
    @include flex(row, wrap, space-between, center);
    .title {
      margin: 0;
      color: $light;
    }

    .nav_right {
      @include flex(row, wrap, space-between, center);

      .select_lang {
        margin: 0 2rem 0 0;
      }
    }
  }
}
