@import "./../../../Sass/abstract/function";
@import "./../../../Sass/abstract/variables";
@import "./../../../Sass/abstract/animation";

.wrapper {
  background-color: $light;
  @include size(100%, 100%);
  @include flex(column, nowrap, flex-start, center);

  .content {
    flex: 1;
    @include flex(column, nowrap, flex-start, center);
    width: $container_width;
    @media screen and (max-width: 1439px) {
      width: calc(100% - 4rem);
    }
    header {
      min-width: 100%;
      @include flex(row, nowrap, flex-end, center);
      position: relative;
      padding-top: calc(6 * #{$space});
      padding-bottom: calc(3 * #{$space});
      height: 32px;
      box-sizing: content-box;

      a {
        font-size: 1.25rem;
      }
      &:after {
        margin: auto;
        position: absolute;
        content: "";
        bottom: 0;
        height: 1px;
        background-color: $grey;
        width: 100%;
      }
    }

    .nav_alt {
      @include flex(column, nowrap, center, center);
      flex: 1;
      width: 100%;

      a {
        font-size: 2rem;
        line-height: 2rem;
        @include flexCenter;
        color: $black;
        padding: calc(3 * #{$space}) 0;
        opacity: 0;
        animation-name: bottom_TO_origin;
        animation-fill-mode: both;
        animation-duration: $shortTime;
        animation-delay: calc(var(--i) * 0.1s);
        transition: $shortTime;
        svg {
          margin: 0 calc(3 * #{$space});
        }

        &:hover {
          color: $blue;
        }
      }
    }

    $cross_width: 20px;
    $cross_height: 2px;

    .cross_container {
      margin-left: calc(3 * #{$space});
      display: flex;
      align-items: center;
      justify-content: center;
      @include size(32px, 32px);
      z-index: 100;
      position: relative;
      cursor: pointer;

      .cross,
      .cross:before,
      .cross:after {
        content: " ";
        @include size(20px, 2px);
        display: flex(row, wrap, center, center);
        background-color: $black;
        transform-origin: center;
        z-index: -1;
      }
      .cross {
        background-color: none;
        @include size(20px, 0px);
        transition: $shortTime;

        &:hover,
        &:active {
          transform: scale(1.1) rotate(180deg);
        }
      }

      .cross:after,
      .cross:before {
        margin-top: calc(#{$cross_height} / -2);
        position: absolute;
      }

      .cross:before {
        transform: rotate(45deg);
      }
      .cross:after {
        transform: rotate(315deg);
      }
    }
  }
}
